<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Config.plist
   qpon-ios

   Created by Bianca Hinova on 5.04.20.
   Copyright (c) 2020 Bianca Hinova. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
